{% extends 'base.twig' %}

{% block title %}Logowanie{% endblock %}

{% block content %}
<h1>BOMBERWOMAN</h1>
<div class="interface">
    <h2>
        Logowanie
    </h1>
    <form  class ="form log" action="{{ path('login_check') }}" method="post">
        {{ form_widget(form) }}
    </form>
    <a class="back" href="{{ url('/') }}">powrót</a>
</div>
{% endblock %}