{% extends 'base.twig' %}

{% block title %}Logged out!{% endblock %}

{% block content %}
	<div class="interface">
    <h2>Zostałeś wylogowany!</h2>
    <a class="back" href="{{ url('/') }}">powrót</a>
{% endblock %}